body {
  background-color: rgb(25, 25, 25);
  font-family: Arial;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  margin-bottom: 75px;
}

.move-icon {
  width: 75px;
  height: 75px;
}

.move-button {
  border-radius: 100%;
  background-color: none;
  border: 2px solid white;
  background-color: transparent;
  width: 150px;
  height: 150px;
  margin-inline: 20px;
  cursor: pointer;
}

.result {
  font-size: 25px;
  font-weight: 600;
  margin-block: 40px;
}

.score {
  margin-block: 75px;
}
.reset-btn {
  padding: 10px 20px;
  font-size: 14px;
  border: none;
  cursor: pointer;
}